@media screen and (min-width:1024px) and (max-width:1440px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f4f4f4;
        width: 100%;
    }

    .container {
        width: 80%;

    }

    .containerCard {
        width: 80%;
    }

    .Card-1 .titleCard {
        height: calc(0.5 * 40vw);
    }

    .Card-2 .titleCard {
        height: calc(0.5 * 40vw);
    }

    .Card-3 .titleCard {
        height: calc(0.5 * 40vw);
    }

    .Card-4 .titleCard {

        height: calc(0.5 * 40vw);

    }

       


}

@media screen and (min-width:320px) and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f4f4f4;
        width: 100%;
    }


    /* HEADER */

    .titre {
        font-size: 35px;
    }

    .soustitre{
        left:0;
        top:0;
        font-size: 10px;
        letter-spacing: normal;
    }

    .soustitre::before {
        content: "";
        height: 1px;
        position: absolute;
        top:0;
        background-color: white;
        width: 100%;
    }

    /* SECTION 1 - MAGNA PORTA MAXIMUS */
    .container {
        width: 100%;

    }

    .container p {
        width: 80%;

    }

    .title {
        font-size: 16px;
        font-weight: 400;
    }

    .container button {
        padding: 10px 20px;
        width: 40%;
        font-size: 12px;
    }


    /* CARD */

    .containerCard {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;

    }

    .containerCard button {
        padding: 10px 20px;
        width: 35%;
        margin: 15px auto;

    }

    .Card-1 .titleCard{

        height: calc(0.5 * 100vw);

    }


    .Card-1,
    .Card-2,
    .Card-3,
    .Card-4 {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .Card-2 .titleCard {
        height: calc(0.5 * 100vw);
    }

    .Card-3 .titleCard {
        height: calc(0.5 * 100vw);
    }

    .Card-4 .titleCard {

        height: calc(0.5 * 100vw);

    }

    /* LAST CONTAINER */

    .lastContainer {
        width: 100%;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lastContainer p {
        width: 70%;
    }

    .lastContainer button {
        padding: 10px 20px;
        width: 35%;
    }

    /* FOOTER */

    .ftrIcons::before {
        top: -110px;
    }

}